<main class="container d-flex flex-column text-center mx-auto ">
    <span class="bg-black w-100 mx-auto my-2 text-white rounded-4 p-3">Detalle de factura</span>
    <button class="btn btn-danger w-100 mx-auto my-2 text rounded-4 p-2" id="addButton">Add Invoice(+)</button>
    <div class="container bg-secondary bg-gradient rounded overflow-auto"
        style="height:fit-content;max-height:250px;--bs-bg-opacity: .4; border-style: doubled;" id="containerProducts">


    </div>
    <my-details></my-details>
    <button class="btn btn-success w-50 mx-auto my-2 w-75">finalize purchase</button>
</main>