<div class="row cols-1 cols-sm-2 gy-2 py-4" class="product">
    <div class="col-md-2">
        <label for="product_code" class="form-label">Product code</label>
        <input type="number" class="form-control" name="product_code" id="product_code"
            placeholder="Type the product's code">
    </div>
    <div class="col-md-2">
        <label for="product-name" class="form-label">Product name</label>
        <input type="text" class="form-control" name="product_name" id="product-name"
            placeholder="Type the product's name">
    </div>
    <div class="col-md-2">
        <label for="amount" class="form-label">Amount</label>
        <input pattern="^[0-9]+" type="number" class="form-control" value=1 name="amount" id="amount"
            placeholder="Type the amount">
    </div>

    <div class="col-md-2">
        <label for="unit_value" class="form-label">Unit value</label>
        <input type="text" class="form-control" name="unit_value" id="unit_value" placeholder="Type the unit value">
    </div>


    <div class="buttons d-flex col-md-4 align-items-center">
        <button class="btn btn-success h-75 w-100 mx-3 plusAmount">+</button>
        <button class="btn btn-danger h-75 w-100 lessAmount">-</button>
    </div>
</div>